<h2>Editer le livre </h2>
<form [formGroup]="editForm" (ngSubmit)="editBook()">
  <div class="mb-3">
    <label for="title" class="form-label">Titre</label>
    <input
      type="text"
      class="form-control"
      id="title"
      formControlName="title">
  </div>
  <div class="mb-3">
    <label for="author" class="form-label">Auteur</label>
    <input
      type="text"
      class="form-control"
      id="author"
      formControlName="author">
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Prix</label>
    <input
      type="number"
      class="form-control"
      id="price"
      formControlName="price">
  </div>

  <button type="submit" class="btn btn-primary" >Valider</button>
</form>

