<h2>Liste des livres</h2>
<button class="btn btn-success" (click)="changeAction('add')">Ajouter un livre</button>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titre</th>
      <th scope="col">Auteur</th>
      <th scope="col">Prix</th>
      <th scope="col">Editer</th>
      <th scope="col">Supprimer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <th scope="row">{{book.id}}</th>
      <td>{{book.title}}</td>
      <td>{{book.author}}</td>
      <td>{{book.price}}</td>
      <td><button class="btn btn-primary" (click)="showEdit(book)">Editer</button></td>
      <td><button class="btn btn-danger">Supprimer</button></td>
    </tr>
  </tbody>
</table>

<app-add-book
  *ngIf="action === 'add'"
  [lastId]="books[books.length-1].id"
  (bookToAdd)="addBookToList($event)" ></app-add-book>

<app-edit-book
  *ngIf="action === 'edit'"
  [book]="bookToEdit"
  (bookEdited)="editBook($event)"></app-edit-book>
