<h2>Ajouter un nouveau livre</h2>
<form #f="ngForm" (ngSubmit)="addBook(f)">
  <div class="mb-3">
    <label for="title" class="form-label">Titre</label>
    <input type="text" class="form-control"
      id="title" name="title" ngModel  #t="ngModel" required>
    <span class="error" *ngIf="t.invalid && t.touched">
      Ce champ est obligatoire!
    </span>
  </div>
  <div class="mb-3">
    <label for="author" class="form-label">Auteur</label>
    <input type="text" class="form-control" id="author" name="author" ngModel #a="ngModel" required>
    <span class="error" *ngIf="a.invalid && a.touched">
      Ce champ est obligatoire!
    </span>
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Prix</label>
    <input type="number" class="form-control" id="price" name="price" ngModel #p pattern="[0-9]+">
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="f.invalid" >Valider</button>
</form>
